/* General Styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Container */
.container {
    max-width: 900px;
    margin: 40px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff; /* Ensure container has a white background */
}

/* Header */
h1, h2, h3 {
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

/* Table of Contents */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
}

ul li a:hover {
    text-decoration: underline;
}

/* Paragraph Styles */
p {
    font-size: 1.1em;
    margin: 10px 0;
    line-height: 1.8;
}

/* Section Backgrounds */
#section1, #section1-1, #section1-2,
#section2, #section2-1, #section2-2,
#section3, #section3-1, #section3-2 {
    background-color: #f0f0f0; /* Light grey background */
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    ul li a {
        font-size: 16px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }
}
